@import 'grid';
@import 'aside';
@import 'main';

@media screen and (max-width:500px){
    body {
        margin: 0;
        grid-template-columns: 1fr;
    }

    .main {
        margin-left: 0;
    }

    .main__section {
        margin-top: 20px;
        margin-bottom: 20px;

        .skills__paragraph {
            text-align: start;
        }
    }
}
